# Air 配置文件 (.air.toml)
root = "."
tmp_dir = "${AIR_TMPDIR:=tmp}"

[build]
# 构建命令
cmd = "go build -o ./${AIR_TMPDIR:=tmp}/main ./cmd/server"

# 二进制文件路径
bin = "./${AIR_TMPDIR:=tmp}/main"

# 包含的文件扩展名
include_ext = ["go", "tpl", "tmpl", "html", "yml", "yaml", "json"]

# 忽略这些文件/目录的变更
exclude_dir = ["assets", "tmp", "vendor", "tmp/go122", "tmp/go123", "tmp/go124", "tmp/go125"]

# 忽略这些特定文件的变更
exclude_file = []

# 排除特定正则表达式匹配的文件
exclude_regex = ["_test.go"]

# 排除未更改的文件
exclude_unchanged = true

# 按照文件名的正则表达式匹配
include_dir = []

# 终止已存在的实例
kill_delay = "0s"

# 发送中断信号前等待时间
delay = 1000 # ms

# 发送系统通知
send_interrupt = false

# 停止信号
stop_on_error = true

[log]
# 显示日志时间
time = false

[color]
# 定制终端颜色
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
# 退出时删除临时目录
clean_on_exit = true 
